In [83]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.metrics import accuracy_score, r2_score
from sklearn.preprocessing import StandardScaler
import joblib
import pickle
import seaborn as sns

In [67]:
df = pd.read_csv('Advertising.csv')

In [68]:
df.size

1000

In [69]:
df.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [35]:
X = df.iloc[:, 1:-1]
X.head()

      TV  Radio  Newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

In [36]:
y = df.iloc[:, -1:]
y.head()

   Sales
0   22.1
1   10.4
2    9.3
3   18.5
4   12.9

In [37]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [95]:
rfc = RandomForestClassifier()
rfc.fit(X_train, y_train)
y_pred = rfc.predict(X_test)
print(f"Accuracy Score: {accuracy_score(y_pred, y_test)}")

C:\Users\jelly\anaconda3\envs\pytorch_env\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

Accuracy Score: 0.7597402597402597

In [39]:
rfr = RandomForestRegressor()
rfr.fit(X_train, y_train)
y_pred = rfr.predict(X_test)
print(f"R2 Score: {r2_score(y_pred, y_test)}")

C:\Users\jelly\anaconda3\envs\pytorch_env\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

R2 Score: 0.9834912689873578

In [97]:
joblib.dump(rfc, 'rfc.joblib')

['rfc.joblib']

In [42]:
with open('rfr.pkl', 'wb') as file:
    pickle.dump(rfr, file)